body {
  margin: 0;
  padding: 0;
}

#board {
  background-color: rgb(4, 48, 208);
  height: 100vh;
}

.player {
  background-color: white;
  position: absolute;
}

.obstacle {
  background-color: yellow;
  position: absolute;
}
